<article class="brick entry format-standard animate-this">
    {{#if feature_image}}
        <div class="entry-thumb">
            <a href="{{ url }}" class="thumb-link">
                <img src="{{ feature_image }}" alt="{{name}}">
            </a>
        </div>
    {{/if}}
    <div class="entry-text">
        <div class="entry-header">
            <div class="entry-meta">
                <span class="cat-links">
                     {{plural count.posts empty="0 article" singular="1 article" plural="% articles"}}
                </span>
            </div>
            <h1 class="entry-title"><a href="{{ url }}">{{ name }}</a></h1>
        </div>
         {{#if description}}
        <div class="entry-excerpt">
             {{description}}
        </div>
        {{/if}}
    </div>
</article> <!-- end article -->