
<div class="col-four tab-1-3 mob-full footer-subscribe">
    <h4>{{t "Subscribe"}}</h4>
    <p>{{t "Keep yourself updated. Subscribe to our newsletter."}}</p>
    <form data-members-form="subscribe">
        <div class="subscribe-form">
            <input class="form-control" data-members-email type="email" placeholder="{{t "Enter your email"}}">
            <button  type="submit" class="btn-primary">
                <span class="button-text">{{t "subscribe"}}</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-text">
            <div class="message-success">
                {{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}
            </div>
            <div class="message-error">
                {{t "Please enter a valid email address!"}}
            </div>
        </div>
    </form>
</div> <!-- end subscribe -->